﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" media="all">
</head>
<body>
	@RenderBody()
</body>
</html>

