﻿@model Telefono

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
		<legend>Telefonos Alta</legend>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Domicilio)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Domicilio)
		    	@Html.ValidationMessageFor(model => model.Domicilio)
			</div>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Celular)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Celular)
		    	@Html.ValidationMessageFor(model => model.Celular)
			</div>
			<div class="editor-label">
		    	@Html.LabelFor(model => model.Trabajo)
			</div>

			<div class="editor-field">
		    	@Html.EditorFor(model => model.Trabajo)
		    	@Html.ValidationMessageFor(model => model.Trabajo)
			</div>

		<p>
		    <input type="submit" value="Create" />
		</p>
	</fieldset>
}
	<p class="btn btn-default">
    		@Html.ActionLink("Home", "Index" , "Home")
	</p>

