﻿@model Clientes.Cliente


@{
	ViewBag.Title = "Ingresar Cliente";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
		<legend>Cliente Alta</legend>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Nombre)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Nombre)
		    	@Html.ValidationMessageFor(model => model.Nombre)
			</div>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Apellido)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Apellido)
		    	@Html.ValidationMessageFor(model => model.Apellido)
			</div>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Correo)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Correo)
		    	@Html.ValidationMessageFor(model => model.Correo)
			</div>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Documento)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Documento)
		    	@Html.ValidationMessageFor(model => model.Documento)
			</div>

		<p>
		    <input type="submit" value="Create" />
		</p>
	</fieldset>
}
	<p class="btn btn-default">
    		@Html.ActionLink("Home", "Index" , "Home")
	</p>

