﻿@model Clientes.Cliente

@{
    ViewBag.Title = "Detalles";
}
<h2>Ficha del Cleinte</h2>

<fieldset>
		
		<dl>
				<dt>
					@Html.DisplayNameFor(model => model.Nombre)
				</dt>

				<dt>
					@Html.DisplayNameFor(model => model.Apellido)
					</dt>
			@foreach (var item in Model.Cliente) {
			<legend>Cliente</legend>
				<dd>
					@Html.DisplayFor(modelItem => item.Id)
				</dd>
				<dd>
					@Html.DisplayFor(modelItem => item.Nombre)
				</dd>
				<dd>
					@Html.DisplayFor(modelItem => item.Apellido)
				</dd>
				<dd>
					@Html.DisplayFor(modelItem => item.Correo)
				</dd>
				<dd>
					@Html.DisplayFor(modelItem => item.Documento)
				</dd>

					}
	</dl>	
				<p>
					@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
					@Html.ActionLink("Details", "Details", new { id=item.Id })|
					@Html.ActionLink("Delete", "Delete", new { id=item.Id })
				</p>


</fieldset>