﻿@model Clientes.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
		<legend>Cliente Editar</legend>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Nombre)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Nombre)
		    	@Html.ValidationMessageFor(model => model.Nombre)
			</div>

			<div class="editor-label">
		    	@Html.LabelFor(model => model.Apellido)
			</div>
			<div class="editor-field">
		    	@Html.EditorFor(model => model.Apellido)
		    	@Html.ValidationMessageFor(model => model.Apellido)
			</div>


		<p>
		    <input type="submit" value="Editar" />
		</p>
	</fieldset>
}

	<p class="btn btn-default">
    		@Html.ActionLink("Home", "Index" , "Home")
	</p>



</body>
</html>

