﻿@model IEnumerable<Clientes.Cliente>

@{ 
ViewBag.Title = "Index Cliente Page"; 
}

<h1>
	Index del Cliente
</h1>

<p class="btn btn-default">
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Nombre)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Apellido)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.Correo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Documento)
		</th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Id)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Nombre)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Apellido)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Correo)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Documento)
		</td>

		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
			@Html.ActionLink("Details", "Details", new { id=item.Id })|
			@Html.ActionLink("Delete", "Delete", new { id=item.Id })
		</td>
	</tr>
	}
</table>

	<p class="btn btn-default">
    		@Html.ActionLink("Home", "Index" , "Home")
	</p>
