﻿@{
ViewBag.Title = "Home Page";
}

<div class="jumbotron">
		<h1>SoftBrain</h1>
	</div>
		<div class="row">
			<div class="col-md-4">
				<h2>
					Bienvenidos a el sitio de SoftBrain
				</h2>
					<p>
						Este sitio fue dasarrollado con el objetivo de fasiliar las tareas administrativas de la empresa.
					</p>
			</div>
		<div class="col-md-4">
			<h2>
				Nuevo Clientes
			</h2>
				<p>
					Acseso a la seccion de gestion de clientes.
				</p>
				<p class="btn btn-default">
    				@Html.ActionLink("Nuevo Cliente", "Create" , "Cliente")
				</p>
		</div>
		<div class="col-md-4">
			<h2>Lista Clientes</h2>
			<p>
				Acseso al listado de clientes.
			</p>
			<p class="btn btn-default">
    			@Html.ActionLink("Lista Cliente", "Index" , "Cliente")
			</p>

		</div>
</div>

	